.table * {
  outline          : none;
  text-shadow      : none;
  border-style     : none;
  -gtk-icon-shadow : none;
}

.table,
.table.background,
.dialog,
.dialog.background {
  outline          : none;
  border-color     : transparent;
  border-width     : 0px;
  border-radius    : 0px;
  background-color : @primary;
  text-shadow      : none;
  box-shadow       : none;
}

#main-window,
#main-window.background {
  background-color : transparent;
}

#main-window > decoration,
#main-window > decoration:backdrop {
  box-shadow : rgba(0,0,0,0.5) 0 0 2px;
}

/*#main-container {
  border-bottom-left-radius  : 4px;
  border-bottom-right-radius : 4px;
}*/

decoration,
decoration:backdrop,
.table .background {
  outline          : none;
  box-shadow       : none;
  border-width     : 0px;
  border-color     : transparent;
  background-color : transparent;
  border-radius    : 0px;
}

/*.table:not(.maximized) headerbar,
.table:not(.maximized) headerbar.flat,
.table:not(.maximized) headerbar:active,
.table:not(.maximized) headerbar:backdrop,
.table:not(.maximized) headerbar:focus {
  border-top-left-radius  : 4px;
  border-top-right-radius : 4px;
}*/

.table textview text {
  border-radius    : 0px;
  color            : @text;
  background-color : @primary;
}

.table decoration {
  min-height       : 20px;
  opacity          : 1.0;
  border-color     : @border;
  border-width     : 0px;
  border-radius    : 0px;
  background-color : transparent;
}

.table headerbar,
.table headerbar.flat,
.table headerbar:active,
.table headerbar:backdrop,
.table headerbar:focus {
  min-height          : 24px;
  padding-left        : 4px;
  border-bottom-color : @border;
  border-radius       : 0px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  background          : none;
  background-color    : @primary;
  box-shadow          : none;
}

.table headerbar separator.titlebutton,
.table headerbar.flat separator.titlebutton,
.table headerbar:active separator.titlebutton,
.table headerbar:backdrop separator.titlebutton,
.table headerbar:focus separator.titlebutton {
  border-image     : none;
  background-image : none;
  background-color : @border;
  color            : transparent;
  opacity          : 1.0;

  padding          : 0px 0px 0px 0px;
  margin           : 4px 0px 4px 0px;
}

.table headerbar label.title {
  opacity : 0.0;
}

.table .menubar,
.table menubar {
  background-color : transparent;
  color            : @text;
  background       : none;

  padding          : 4px 0px 4px 0px;

  box-shadow       : none;
  min-height       : 10px;
}

.table .menu *,
.table menu * {
  transition : all 0ms;
}

.table menubar > menuitem,
.table .menubar > menuitem {
  background-color : transparent;
  color            : @text;

  border-radius    : 2px;
  min-height       : 10px;
}

.table .menubar:backdrop,
.table menubar:backdrop {
  background-color : transparent;
}

.table .menubar > menuitem:hover,
.table menubar > menuitem:hover {
  color            : @hvr_btn_fg;
  background-color : @act_btn_bg;
}

.table .menubar > menuitem:disabled,
.table menubar > menuitem:disabled {
  color            : @text;
  background-color : @hvr_btn_fg;
}

.table menuitem {
  box-shadow : none;
}

.table menuitem > label {
  min-height : 16px;
}

.table toolbar {
  padding          : 4px 4px 4px 4px;
  background-color : @primary;
}

.table toolbar > separator {
  background-color : @border;

  padding          : 0px 0px 0px 0px;
}

.table toolbar.left-bar > separator,
.table toolbar.right-bar > separator {
  margin  : 4px 0px 4px 0px;
}

.table toolbar.top-bar > separator,
.table toolbar.bottom-bar > separator {
  margin  : 0px 4px 0px 4px;
}

.table toolbar.left-bar button,
.table toolbar.right-bar button,
.table toolbar button {
  min-width           : 24px;
  min-height          : 24px;
  border-bottom-width : 0px;
  background-color    : @std_btn_bg;
}

.table toolbar.left-bar button:hover,
.table toolbar.right-bar button:hover,
.table toolbar button:hover {
  color            : @hvr_btn_fg;
  background-color : @hvr_btn_bg;
}

.table toolbar.left-bar button:active,
.table toolbar.right-bar button:active,
.table toolbar button:active {
  background-color : @act_btn_bg;
}

.table toolbar.top-bar {
  border-bottom : 1px solid @border;
}

.table toolbar.left-bar {
  border-right : 1px solid @border;
}

.table toolbar.right-bar {
  border-left : 1px solid @border;
}

.table toolbar.left-bar button,
.table toolbar.right-bar button {
  min-width        : 30px;
  min-height       : 30px;
  background-color : transparent;
}

.table toolbar > label {
  color : @text;
}

.table combobox arrow {
  min-height : 16px;
  padding    : 4px 0px 4px 0px;
  /* -gtk-icon-source: -gtk-scaled(url("./res/img/default/down.svg")); */
}

.table frame label {
  color : @text
}

/*.table frame label:not(active) {
  opacity : 0.5;
}*/

.table button {
  color            : @text;
  background-color : @std_btn_bg;

  min-width        : 80px;
  min-height       : 24px;
  margin           : 0px 0px 0px 0px;
  padding          : 0px 0px 0px 0px;

  border-radius    : 2px;

  background-image : none;
  box-shadow       : none;
  text-shadow      : none;
}

.table button:hover {
  color            : @hvr_btn_fg;
  background-color : @hvr_btn_bg;
  border-radius    : 2px;
}

.table button:active {
  color            : @hvr_btn_fg;
  background-color : @act_btn_bg;
  box-shadow       : inset 0px 0px 0px 1px @btn_border;

  border-radius    : 2px;
}


.table button label {
  padding : 0px 8px 0px 8px;
}

.table button:hover label,
.table button:active label {
  color : @hvr_btn_fg;
}


.table button.circular {
  border-radius : 9999px;
}

.table button.combo {
  padding : 0px 4px 0px 4px;
}


.table button.suggested-action {
  background-color : @sug_btn_bg;
  color            : @text;
}

.table button.suggested-action:hover {
  /*background-color : #498;  KEEP THIS COLOR ITS GREAT*/
  background-color : @sug_act_bg;
  color            : @text;
}

.table button.suggested-action:active {
  background-color : @act_btn_bg;
  color            : @text;
}

.table button.suggested-action:hover label,
.table button.suggested-action:active label {
  color : @text;
}


.table button.close,
.table button.maximize,
.table button.minimize {
  min-width        : 24px;
  border           : none;
  background-image : none;
  background-color : inherit;
  box-shadow       : none;
  text-shadow      : none;
}

.table button.close:hover,
.table button.maximize:hover,
.table button.minimize:hover {
  background-color : inherit;
}

.table checkbutton label {
  color : @text;
}

.table #statusbar,
.table #statusbar.flat,
.table #statusbar:active,
.table #statusbar:backdrop,
.table #statusbar:focus {
  min-height       : 24px;
  margin           : 0px 0px 0px 0px;
  padding          : 0px 0px 0px 0px;

  color            : @text;
  background-color : @primary;

  border-top       : 1px solid @border;
  border-bottom    : none;
  border-radius    : 0px;
  box-shadow       : none;
}

/*.table:not(.maximized) #statusbar,
.table:not(.maximized) #statusbar.flat,
.table:not(.maximized) #statusbar:active,
.table:not(.maximized) #statusbar:backdrop,
.table:not(.maximized) #statusbar:focus {
  border-bottom-left-radius  : 4px;
  border-bottom-right-radius : 4px;
}*/

.table box.dark {
  background-color: #1a1a1a;
}

.table button.right,
.table combobox.right {
  border-left : 1px solid @border;
}

.table button.left combobox.left {
  border-right : 1px solid @border;
}

.table notebook:backdrop {
  background-color : @primary;
}

.table notebook > header {
  min-height       : 20px;
  margin           : 0px 0px 0px 0px;
  padding          : 0px 0px 0px 0px;
  border-bottom    : 1px solid @border;
  background-color : @notebook_bg;
  box-shadow       : none;
}

.table notebook > header > tabs {
  min-height : 20px;
  margin     : 0px 0px 0px 0px;
  padding    : 0px 0px 0px 0px;
  box-shadow : none;
}

.table notebook > header > button {
  min-width     : 16px;
  min-height    : 16px;
  margin        : 0px 0px 0px 0px;
  padding       : 0px 0px 0px 0px;

  border        : none;
  border-radius : 0px;

  background    : inherit;
}

.table notebook > header > button:active {
  box-shadow : none;
}

.table notebook > stack {
  background-color : @primary;
}

.table notebook tab {
  min-height       : 28px;
  margin           : 0px 0px -1px 0px;
  padding          : 0px 15px 0px 15px;
  color            : @text;
  background-color : transparent;
  outline          : none;
  box-shadow       : none;
  font-weight      : normal;
  transition       : 300ms;
}

.table notebook tab:checked {
  background-color : @notebook_bg;
  box-shadow : inset 0px -2px 0px 0px @text;
}

/*.table notebook tab:not(:first-child) {
  border-right : 1px solid @notebook_bg;
  border-left  : 1px solid @notebook_bg;
}

.table notebook tab:first-child {
  margin-left  : -1px;
  border-right : 1px solid @notebook_bg;
  border-left  : 1px solid @notebook_bg;
}

.table notebook tab:not(:first-child):checked {
  border-right : 1px solid @border;
  border-left  : 1px solid @border;
}

.table notebook tab:first-child:checked {
  margin-left  : -1px;
  border-right : 1px solid @border;
  border-left  : 1px solid @border;
}*/

.table view {
  background-color : @std_btn_bg;
}

.table frame > border,
.table .frame {
  margin        : 0px 0px 0px 0px;
  padding       : 0px 0px 0px 0px;

  border-radius : 2px;
  border        : 1px solid @border_alt;
}

.table frame > label {
  color : @text;
}

.table frame.flat, .frame.flat {
  border-style: none;
}

.table frame:backdrop, .frame:backdrop {
  border-color: #c0c0bd;
}

.table paned > separator {
  background-image : none;
  color            : @border;
  background-color : @border;
  border-color     : @border;
}

.table paned > separator:selected {
  color            : @hvr_btn_fg;
  background-color : @hvr_btn_fg;
  border-color     : @hvr_btn_fg;
}

.table label.command {
  color : @text;
}

.table entry {
  color            : @text;
  background-color : @std_btn_bg;

  border-style     : none;
  border-width     : 0px;
  border-radius    : 2px;
  box-shadow       : none;

  min-height       : 22px;

  margin           : 0px 0px 0px 0px;
  padding          : 0px 4px 0px 4px;
}

.table entry:focus {
  box-shadow : inset 0px 0px 0px 1px @btn_border;
}

/*popover {
  background-color : @primary;
  border-radius    : 0px;
  border           : 1px solid @act_btn_bg;

  padding          : 4 4 4 4;
}

popover > arrow {
  background-color : transparent;
  border-color: #fff;
  color : #fff;
}*/
