/**
 * I'll put stuff here later. It's to theme the menus in windows to be the
 * native ones. I'll probably have to do it for both windows 10 and windows 7/8
 * unfortunately. I could use the win32 theme building to gtk3 for windows but
 * it doesn't really work that well on windows 10. Who knows tho
 */

* {
  font : 9pt "Segoe UI";
}

.window-frame {
  opacity : 1.0;
  border  : 1px solid transparent;
}

.window-frame.maximized {
  border-width : 0px;
}

headerbar,
headerbar.flat,
headerbar:active,
headerbar:backdrop,
headerbar:focus {
  min-height    : 30px;
  padding-right : 0px;
  box-shadow: none;
}

headerbar label {
  min-height : 0px;
}

.menubar,
menubar {
  min-height : 16px;
  padding    : 4px 0px 4px 0px;
}

menubar > menuitem label {
  min-height : 8px;
}

.table button.titlebutton,
.table button.titlebutton:backdrop {
  min-width        : 45px;
  min-height       : 32px;

  margin           : 0px 0px 0px 0px;
  padding          : 0px 0px 0px 0px;

  border-radius    : 0px;
  border-width     : 0px;

  box-shadow       : none;
  -gtk-icon-shadow : none;
  /* Apparently css-clean likes to delete
   * this, so if its not here, add it back.
   * -gtk-icon-shadow : none;
   */
}

.table button.titlebutton:hover {
  color : @text;
  background-color: @hvr_btn_bg;
}

/*.table:not(.maximized) button.close {
  border-top-right-radius: 4px;
}*/

.table button.close:hover {
  color            : @text;
  background-color : #e81123;
}

.maximized decoration,
.tiled-bottom decoration,
.tiled-top decoration,
.tiled decoration {
  margin  : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
}

/* These are some menus for win32. I have no idea if I will ever use them */
.context-menu,
.menu,
menu {
  margin           : 1px 1px 1px 1px;
  padding-top      : 2px;
  padding-bottom   : 2px;
  border           : 1px solid #c6c6c6;
  background-color : #ffffff;

  border-radius    : 4px;
  box-shadow       : inset 0px 0px 0px 1px #d6d6d6;
}

.context-menu menuitem,
.menu menuitem,
menu menuitem {
  min-width    : 40px;
  min-height   : 16px;
  margin-right : 2px;
  margin-left  : 2px;
  text-shadow  : none;
}

.context-menu menuitem:hover,
.menu menuitem:hover,
menu menuitem:hover {
  background-color : #c5c5c5;
  color            : #000;
}

.context-menu separator,
.menu separator,
menu separator {
  margin : 2px 2px 2px 2px;
  color  : #e0e3e6;
}

/*.context-menu,
.menu,
menu {
  margin           : 3px 3px 3px 3px;
  padding-top      : 3px;
  padding-bottom   : 3px;
  border           : 1px solid #cccccc;
  background-color : #f2f2f2;
}

.context-menu menuitem,
.menu menuitem,
menu menuitem {
  min-width    : 40px;
  min-height   : 10px;
  margin-right : 3px;
  margin-left  : 3px;
  color        : #000000;
  text-shadow  : none;
}

.context-menu menuitem:hover,
.menu menuitem:hover,
menu menuitem:hover {
  min-width        : 40px;
  min-height       : 12px;
  color            : #000000;
  background-color : #90c8f6;
}

.context-menu separator,
.menu separator,
menu separator {
  margin : 3px 3px 3px 28px;
  color  : #d7d7d7;
}

menu menuitem check {
  border : none;
}*/

/*accelerator {
  color : #000;
}*/
